{% extends 'base.html' %}
{% block content %}

<h1>Détails de la conférence : {{ invitation.name }}</h1>
<p><strong>Thème :</strong> {{ invitation.theme }}</p>
<p><strong>Lieu :</strong> {% if invitation.event and invitation.event.reservation and invitation.event.reservation.venue %}{{ invitation.event.reservation.venue.nom_v }}{% else %}Non spécifié{% endif %}</p>
<p><strong>Description :</strong> {{ invitation.description }}</p>
<p><strong>Date de début :</strong> {{ invitation.start_date }}</p>
<p><strong>Date de fin :</strong> {{ invitation.end_date }}</p>

<a href="{% url 'InvitationAPP:guest_list' invitation.pk %}" class="boxed-btn">Voir les invités</a>
<a href="{% url 'InvitationAPP:invitation_list' %}" class="boxed-btn2">Retour à la liste</a>

{% endblock %}